*{
    box-sizing: border-box;
    margin: 0;                                        
   }
   
   :root {
    --col01:  rgb(210, 47, 196);
    --col02:  rgb(255, 0, 132);
    --col03:  rgb(210, 47, 196);
    --col04:  rgb(229, 123, 216);
   /*While we weren't required to connect our design choices to the original layout, I felt inspired by my love for Sailor Moon
   to infuse my own personal meaning of the anime into my work. For me, Sailor Moon symbolizes female strength, love, and friendship – 
   a beacon of empowerment for young girls. That's why I decided to use a pink gradient background. To me, pink is not just a "girly" colour; 
   it represents the harmony, playfulness, and girl power that Sailor Moon embodies.*/

    --col05:  rgb(220, 238, 241, 0.7);
    --border:  3px dotted rgb(0, 255, 123); /*green colour border to represent sailor jupiter - the orange represents sailor moons iconic hair, the blue and red represent her outfit*/ 
    --box-shadow:  inset rgb(255, 0, 1) 0 0 0 2px, inset rgb(10, 68, 159) 0 0 0 5px, inset rgba(249,255,0,1) 0 0 0 8px;
}
  /*I opted for the dotted style because it adds a textural difference that helps to break up the design and create visual interest.
   In addition, the dotted style reduces the strong contrast that solid lines can create, resulting in a more subtle and balanced design.*/

   .body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.container {
  width: 71vh;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  zoom: 100%;
  background-image: linear-gradient(var(--col01), var(--col02), var(--col03));
}
/*During the design process, I experimented with various gradient styles such as radial, repeating radial, and linear repeating.
 However, I found that these styles were overwhelming and created low contrast, which negatively impacted the accessibility of the site. 
 In order to maintain accessibility, I would have had to make the boxes a solid color, which would have compromised the transparency and layering effects that are important design elements.
 Instead, I opted to keep the transparency of the boxes intact while using a simpler gradient style that strikes a balance between accessibility and aesthetics. */

.container > div {
  display: flex;
  gap: 10px;
}

.box1 {
  width:28%;
  height:29%;
  background-color: var(--col05);
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  position: absolute;
  left: 3%;
  top: 0;
}

/*In order to showcase the layering effect of the overlapping boxes, I decided to make them a low opacity color.
By keeping the box color simple, I was able to put more attention on the smaller design elements like borders and backgrounds.
This allowed me to add intricate details to these elements while maintaining an overall balanced look. 
Additionally, this approach allowed me to incorporate stronger colors elsewhere on the page without overwhelming the viewer or creating low contrast.*/ 


.box2 {
  width: 28%;
  height: 23%;
  background-color: var(--col05);
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  position: absolute;
  left: 0%;
  top: 23%;
}

.box3 {
  width: 34%;
  height: 23%;
  background-color: var(--col05);
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  position: absolute;
  left: 41.50%;
  top: 0%;
}

.box4 {
  width: 23%;
  height: 46%;
  background-color: var(--col05);
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  position: absolute;
  right: 0%;
  top: 0%;
}

.box5 {
  width: 37%;
  height: 29%;
  background-color: var(--col05);
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  position: absolute;
  right: 0%;
  top: 17%;
  left: 32.5%
}

.box6 {
  width: 100%;
  height: 18%;
  background-color: var(--col05);
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  position: absolute;
  right: 0%;
  top: 48%;
  left: 0%
}

.box7 {
  width: 51.5%;
  height: 28%;
  background-color: var(--col05);
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  position: absolute;
  right: 0%;
  top: 68%;
  left: 16%
}

.box8 {
  width: 37%;
  height: 26%;
  background-color: var(--col05);
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  position: absolute;
  right: 0%;
  top: 74%;
  left: 0%
}

.box9 {
  width: 31%;
  height: 32%;
  background-color: var(--col05);
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 10px;
  position: absolute;
  right: 0%;
  top: 68%;
  right: 0%;
}
